---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout title="Al James Contact" description="Contact Al from various social means">
  <h1>Aljam Web Contact</h1>
</DefaultLayout>
