---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const url = "https://res.cloudinary.com/aljames/image/upload/"
const data = await
    fetch("https://res.cloudinary.com/aljames/image/list/Album-Front.json")
    .then(r => r.json())
    .then(d => d.resources.sort((a, b) =>
      b.context.custom.year.localeCompare(a.context.custom.year)
    ))
---
<DefaultLayout>
  <div class="album-list">
    {data.map((item, idx) =>
      <section class="album-item">
        <div class="album-detail">
          <p>{item.context.custom.year}</p>
          <p>{item.context.custom.artist}</p>
          <p>{item.context.custom.caption}</p>
        </div>
        <img class="album-img front" src={url + 't_album200x200/'+ item.public_id + '.jpg'} />
        <img class="album-img back" src={url + 't_album200x200/'+ item.public_id.slice(0, -6) + '-back.jpg'}/>
      </section>
    )}
  </div>
</DefaultLayout>

<style>
  section {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .album-list {
    height: 80vh;
    font-size: 1.3em;
    overflow-y: scroll;
  }
  .album-item {
    grid-gap: 0.2em;
    padding: 0.2em;
    color: white;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "album-detail album-detail"
      "album-cover-front album-cover-back";
  }
  .album-item:nth-of-type(even) {
    background: white;
    color: black;
  }
  .album-detail {
    grid-area: album-detail;
    text-align: center;
  }
  .front {
    grid-area: album-cover-front;
  }
  .back {
    grid-area: album-cover-back;
  }
  .album-img {
    max-width: 100%;
    max-height: 100%;
  }
  @media (orientation: landscape) {
  .album-list {
    height: 80vh;
    font-size: 1.6em;
  }
  .album-item {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "album-detail album-detail album-cover-front album-cover-back";
  }
  .modal {
  grid-template-columns: repeat(2, 1fr);
  }
}
</style>
