---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout>
  <section></section>
</DefaultLayout>

<style>
  section {
    height: 100%;
    background-image: url("https://res.cloudinary.com/aljames/image/upload/home/Darkest_Day_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>