---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <HeaderLink href="/">Al James</HeaderLink>
    <HeaderLink href="/discography">discography</HeaderLink>
    <HeaderLink href="/music">music</HeaderLink>
    <HeaderLink href="/contact">contact</HeaderLink>
    <HeaderLink href="/art">gallery</HeaderLink>
    <HeaderLink href="/snaps">snaps</HeaderLink>
  </nav>
</header>
<style>
  header {
    margin-bottom: 1rem;
    display: grid;
    gap: 0.5rem;
    justify-items: center;
  }
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
</style>
