---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <HeaderLink href="/">Al James</HeaderLink>
    <HeaderLink href="/discography">discography</HeaderLink>
    <HeaderLink href="/music">music</HeaderLink>
    <HeaderLink href="/contact">contact</HeaderLink>
    <HeaderLink href="/art">gallery</HeaderLink>
    <HeaderLink href="/snaps">snaps</HeaderLink>
  </nav>
</header>

<style>
  header {
    height: 10vh;
  }
  nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
</style>
